
.temp{
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.tempButton{
  gap: 1rem;
}

.tempContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 5rem;
}

.containertemp{
    padding : 2rem;;
}


.temp p {
  margin: 0.5rem 0 0.3rem;
}

.temp input {
  width: 250px;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

.temp input:focus {
  background-color: #cacaca;
  outline: none;
}

.title button {
  margin-top: 1rem;
  width: 100%;
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.title button:hover {
  background-color: #0056b3;
}