.tempButton {
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #BD5923;
  border-color: #BD5923;
  border-radius: 3px;
  cursor: pointer;
}