.tempButton {
  font-family: sans-serif;
  overflow: hidden;
  height: 2.5dvh;
  width:10dvh;
  color: white;
  background-color: #BD5923;
  border-color: #BD5923;
  border-radius: 6px;
  cursor: pointer;
}