

/* React Data Grid global styles */
:global(.rdg) {
  font-size: 14px;
  border-radius: 4px;
  background-color: #f0f0f0;
  --rdg-background-color: #f0f0f0;
  --rdg-color: black;
  --rdg-row-hover-background-color:#f0f0f0;
}

:global(.rdg-header-row) {
  background-color: #eeeeee;
  color: #000000;
}

:global(.rdg-row:hover) {
  background-color: #f9f9f9;
}
:global(.rdg .rdg-cell:focus-within) {
  background-color: #c5c5c5 !important;
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 1px #757575;
}

:global(.rdg-cell) {
  border-right: none !important;
    padding: 1px 20px;

}


.alignCenter {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height:100vh;
  padding: 20px; /* instead of margin */
    box-sizing: border-box; /* Includes padding inside height */

  overflow:hidden;

}
.alignMiddle {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height:100vh;
  justify-content:center;

}

.compForm{
  display: flex;
  flex-direction:row;
  align-items: center; 
  background-color: rgb(238, 238, 238);
  padding: 1rem;
  gap: 1rem;
  margin:20px;
  border-radius: 6px;

}

.formButton{
  padding: 1rem;
  padding-top: 2rem;
}



.buttonAlign{
  padding: 1rem;
}

.tableSize{
  height: 100%;
  width:80vw;
  border-radius: 8px;
  
 
}
.compTableSize{
   height: 100%;
  width:20vw;
  border-radius: 8px;
}
.compTable{
  padding-bottom: 1rem;
}