.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 5rem;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    gap: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #eae9e9;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

.tableSize {
  height: 100%;
  width: 60%;
  min-width: 600px;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}
