.image{
    min-width: 1dvh;
    min-height: 1dvh;
    height:1dvh;
    width:1dvh ;
object-fit: contain;
}
.button{
  font-family: sans-serif;
  overflow: hidden;
  min-width: 2dvh;
  min-height: 2dvh;
  background-color: #BD5923;
  border-color: #BD5923;
  border-radius: 6px;
  cursor: pointer; 

}