.header {
  width: auto;
  background-color: #e6e6e6;
  display: flex;
  color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.headerLogo {
  height: 50px;
  padding-right: 5px;
}

.headerLinks {
  display: flex;
  justify-content: flex-end;
}

.currentHeader {
  color: black;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  border-radius: 8px;
}
