.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:#cacaca;
  font-family: 'Arial', sans-serif;
}

.header {
  width: 100%;
  background-color: #9b9b9b;
  display: flex;
  padding: 2px 0px;
  color: white;
  border: 1px solid rgba(122, 122, 122, 0.534);
}

.headerLogo {
  height: 30px;
  padding:5px;
  padding-right: 10px;
}

.headerLinks {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 0px;
  flex:0; /*goes right*/
}

.body {
 
 
  overflow: hidden;
}

.header li {
  color: white;
  padding: 5px 5px;
  border-radius: 6px;
  cursor: pointer; /* clickable cursor */
  display: flex;
  align-items: center;
}
.header li a {
   color: #353535;
  text-decoration: none;  /* removes underline */
  font-weight: 550;
  font-size: 12px;
}

.content {
  
}

.footer {
  height: 1dvh;
  background-color: grey;
  color: white;
  padding: 1dvh;
}

.footerRight {
  text-align: right;
  float: right;
}

.footerLeft {
  text-align: left;
}